@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    border-bottom: 2px solid #DFDFDF;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 40%;
    padding: 5px 10px;
    background: #F5F5F5;
}
.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side i{
    padding-right: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #778097;
}
.left-side input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #778097;
    width: 70%
}
.right-side{
    display: flex;
    align-items: center;
}
.right-side i{
    margin-right: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

.right-side h1{
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    background: #ffffff;
    padding: 3px 20px;
    border-radius: 5px;
    user-select: none;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    gap: 40px;
}
.profile i{
    font-size: 25px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
}
.profile>i:nth-child(1){
    margin-right: -20px;
}
.profile>i:nth-child(2):after{
    content: '';
    position: absolute;
    width: 2px;
    height: 23px;
    background: #778097;
    top: 1px;
    right: -20px;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile>img{
    width: 35px;
    cursor: pointer;
}
.text{
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
}
.text h3{
    font-size: 14px;
}
.text p{
    font-size: 10px;
}
.friend-request-wrap{
    position: absolute;
    top: 11%;
    right: 20px;
    width: 370px;
    height: 87vh;
    border-radius: 5px;
    background: #F8F8F8;
    z-index: 1;
    max-height: 0vh;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: max-height 0.2s;
}
.friend-request-wrap.open-request{
    max-height: 100vh;
}
.friend-request{
    padding: 20px 30px;
}
.friend-requests-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.friend-requests-data h1{
    font-size: 20px;
    font-weight: 600;
}
.friend-requests-data i{
    font-size: 20px;
    cursor: pointer;
}
.friend-request hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: #959595;
    margin: 20px 0 10px;
}
.friend-request-data{
    overflow: scroll;
    height: calc(87vh - 110px);
}
.user-friend-request{
    display: flex;
    align-items: center;
    margin: 25px 0;
}
.user-friend-request img{
    width: 50px;
}
.friend-request-text{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px;
}
.friend-request-text p{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.friend-request-text p:nth-child(2){
    font-size: 10px;
    font-weight: 400;
    color: #4685FB;
}
.friend-request-text p span{
    color: #000;
    font-weight: 600;
}
.friend-request-btn{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    /* margin-top: 10px; */
}
.friend-request-btn button{
    margin: 5px 7px 0;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #0D60EE;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.friend-request-btn button:nth-child(2){
    background: #E4E6EB;
    color: black;
}
.notification-wrap{
    position: absolute;
    top: 11%;
    right: 20px;
    width: 370px;
    height: 87vh;
    border-radius: 5px;
    background: #F8F8F8;
    z-index: 1;
    overflow: scroll;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 0vh;
    transition: max-height 0.2s;
}
.notification-wrap.open-bar{
    max-height: 100vh;
}
.notification{
    padding: 20px 30px;
}
.notification-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notification-info h1{
    font-size: 20px;
    font-weight: 600;
}
.notification-info i{
    font-size: 20px;
    cursor: pointer;
}
.notification hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: #959595;
    margin: 20px 0;
}
.notification-data{
    overflow: scroll;
    height: calc(87vh - 110px);
}
.user-notification{
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.5s;
    border-radius: 5px;
}
.user-notification:hover{
    background: #ffffff;
    border-radius: 5px;
}
.user-notification img{
    width: 45px;
}
.text-with-time>p{
    font-size: 13px;
    font-weight: 400;
}
.text-with-time>p:nth-child(2){
    font-size: 10px;
    color: rgba(1, 111, 255, 0.82);
}
.text-with-time>p span{
    color: #000000;
    font-weight: 600;
}
.sub-menu-wrap{
    position: absolute;
    top: 11%;
    right: 20px;
    width: 280px;
    border-radius: 5px;
    background: #F8F8F8;
    z-index: 1;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    padding: 20px 30px;
}
.user-information{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.user-information img{
    width: 50px;
}
.txt{
    line-height: 23px;
}
.txt h2{
    font-size: 18px;
    font-weight: 700;
}
.sub-menu hr{
    border: 0;
    width: 100%;
    height: 2px;
    background: #959595;
    margin: 20px 0;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.5s;
}
.sub-menu-link:hover{
    transform: translateX(10px);
}
.sub-menu-link>i{
    font-size: 20px;
}
.first{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.first i{
    font-size: 18px;
}
.first h2{
    font-size: 16px;
    font-weight: 400;
}
.first:hover h2, .first:hover i{
    font-weight: 500;
}
.main-body{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-part{
    width: 28%;
    height: 100%;
    border: 2px solid #DFDFDF;
    border-top: none;
    padding: 40px 40px 20px 30px ;
}
.left-part h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 2px solid #DFDFDF;
}
.scroll-for-online{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;

}
.scroll-for-online img{
    width: 45px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.image>i{
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 30px;
}
.image>i:nth-child(1){
    display: none;
}
.for-user-scroll{
    height: calc(100vh - 170px);
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.users{
    padding-top: 25px;
}
.user-chat{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-chat img{
    width: 50px;
    margin-right: 20px;
}
.name-chat{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    line-height: 8px;
}
.name-chat h2{
    font-size: 16px;
    font-weight: 600;
    user-select: none;
}
.name-chat p{
    user-select: none;
    font-size: 12px;
    font-weight: 400;
}
.right-part{
    width: 70%;
    height: 100%;
    border: 2px solid #DFDFDF;
    border-top: none;
}
.user-profile-header{
    width: 100%;
    height: 90px;
    background: #ffff;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-chats-section{
    display: flex;
    align-items: center;
    justify-content: start;
}
.user-chats-section img{
    width: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.user-name-chat h2{
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.user-name-chat p{
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.call-option{
    display: flex;
    align-items: center;
    width: 16%;
    justify-content: space-between;
}
.call-option i{
    font-size: 22px;
    cursor: pointer;
}
.call{
    background: #F5F5F5;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 5px;
    position: relative;
}
.call i:nth-child(1)::after{
    content: '';
    width: 2px;
    height: 20px;
    background: #DFDFDF;
    position: absolute;
    top: 7px;
    left: 50px;
}
.chat-section{
    width: 100%;
    height: 65vh;
    background-image: url('img/chat-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.first-msg{
    display: flex;
    align-items: center;
    padding: 10px;
}
.first-msg img{
    width: 40px;
    margin-right: 20px;
    display: flex;
    cursor: pointer;
}
.msg{
    width: 340px;
    font-size: 14px;
    background: #ffffff;
    padding: 17px 20px;
    border-radius: 10px;
}
.sent{
    align-self: flex-end;
}
.sent img{
    margin-right: none;
    margin-left: 20px;
    cursor: pointer;
}
.recieve{
    align-self: flex-start;
}
span{
    color: rgb(5, 109, 255);
}
.msg-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}
.choose-file i{
    font-size: 25px;
    position: relative;
    cursor: pointer;
}
.choose-file i:nth-child(2){
    margin-left: 30px;
}
.choose-file i:nth-child(1)::after{
    content: '';
    position: absolute;
    left: 40px;
    top: 0;
    width: 2px;
    height: 25px;
    background: #5f5f5f;
}
.write-msg{
    width: 80%;
    border: 2px solid #77809783;
    padding: 20px 20px;
    border-radius: 10px;
}
.write-msg input{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}
.msg-section>i{
    font-size: 25px;
    cursor: pointer;
}
.Login-main-page{
    width: 100%;
    height: 100vh;
    background: #ffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-nav{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    position: absolute;
    top: 0;
    left: 0;
}
.login-page{
    width: 60%;
    height: 70vh;
    background: #ffffff;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000074;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.l-side{
    width: 45%;
    height: 100%;
    background-image: url('img/login-img.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.r-side{
    width: 55%;
    height: 100%;
}
.r-side form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}
.r-side>form h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.login-email, .login-password{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1.5px solid rgba(192, 192, 192, 0.748);
    display: flex;
    align-items: center;
}
.login-password{
    margin: 0 0 10px;
}
.login-email input, .login-password input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}
.remeber-forget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.remeber{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remeber p{
    font-size: 14px;
}
.remeber-forget a{
    font-size: 14px;
}
.r-side form>input{
    padding: 10px 40px;
    width: 100%;
    margin: 15px 0;
    background: #191C3B;
    border: none;
    outline: none;
    color: #DFDFDF;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}
.r-side form>button{
    background: transparent;
    border: 1.4px solid rgba(192, 192, 192, 0.748);
    color: #000000;
    padding: 10px 40px;
    width: 100%;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}
.r-side form>button i{
    margin-right: 10px;
}
.r-side form p{
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}
.r-side form>p::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 45%;
    height: 2px;
    background: #00000074;
    border-radius: 50px;
}
.r-side form>p::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 45%;
    height: 2px;
    background: #00000074;
    border-radius: 50px;
}
.r-side form>h5{
    font-size: 12px;
    font-weight: 500;
    margin: 0 auto;
}
